:root {
 background-color: blue;
  /* animation: line 6.5s linear 0.5s 3; */
}
body {
  /* animation: line 6.5s linear 0.5s 3; */
}
.one {
 background-color: #22f1f2;
  border-radius: 15px;
  color: #f21f21;
  text-transform: uppercase;
  text-decoration: underline;
 animation: line 7.5s linear 0s 3;
 animation-fill-mode: forwards;
}
.two {
background-color: #ff12f2; 
 border-radius: 15px;
   color: #999;
     text-transform: capitalize;
      animation: line 7.5s linear 0.5s 3;
      animation-fill-mode: forwards;
}
.three {
background-color: #fff;
 border-radius: 15px;
   color: #ff12f2;
     text-transform: capitalize;
      animation: line 7.5s linear 1s 3;
      animation-fill-mode: forwards;
}
.five {
background-color: #f21f21;
 border-radius: 15px;
   color: #fff;
     text-transform: uppercase;
     text-decoration: underline;
      animation: line 7.5s linear 1.5s 3;
      animation-fill-mode: forwards;
}
.six {
background-color: #f45f6f;
 border-radius: 15px;
   color: #22f1f2;
     text-transform: capitalize;
      animation: line 7.5s linear 2s 3;
      animation-fill-mode: forwards;
}
.seven {
background-color: #999;
 border-radius: 15px;
   color: #f45f6f;
     text-transform: capitalize;
      animation: line 7.5s linear 2.5s 3;
      animation-fill-mode: forwards;
}
@keyframes line {
 0%{
  background-color: aqua;
 }
 30% {
  background-color: black;
  transform: translateX(30px);
 }
  80% {
   background-color: rgba(20, 100, 230, 0.6);
   transform: skew(90deg, 180deg);
   opacity: 1;
  }
  90% {
   background-color: rgba(90,59,30,0.2);
   transform: rotate(190deg);
   opacity: 0.4;
  }
  92% {
   opacity: 0.6;
transform: translateY(145px);
  }
  95% {
   opacity: 0.8;
   background-color: rgba(200,100,200,0.8);
   transform: scale(1.5);
  }
  100% {
   opacity: 1;
  }
 }
 @media screen and (min-width: 600px) {
  .one {
    background-color: black;
    border-radius: 20px;
    color: green;
   }
  
   .two {
    background-color: brown;
    border-radius: 20px;
    color: pink;
   }
  
   .three {
    background-color: yellow;
    border-radius:20px;
    color: red;
   }
  
   .five {
    background-color: purple;
    border-radius: 20px;
    color: white;
   }
  
   .six {
    background-color: peru;
    border-radius: 20px;
    color: rgb(19, 13, 6);
   }
  
   .seven {
    background-color: white;
    border-radius: 20px;
    color: blueviolet;
      }
 }
 @media screen and (min-width: 700px) {
  .one {
    background-color:green;
    border-radius: 20px;
    color: yellow;
   }
  
   .two {
    background-color: brown;
    border-radius: 20px;
    color: black;
   }
  
   .three {
    background-color: blue;
    border-radius:20px;
    color: violet;
   }
  
   .five {
    background-color: pink;
    border-radius: 20px;
    color: white;
   }
  
   .six {
    background-color: grey;
    border-radius: 20px;
    color: rgb(19, 13, 6);
   }
  
   .seven {
    background-color: wheat;
    border-radius: 20px;
    color: blueviolet;
      }
 }

